<h2>Login to Flash/Card!</h2>
<%= form_for :user, url: '/login' do |f| %>
  Username: <%= f.text_field :name %>
  Password: <%= f.password_field :password %>
  <%= f.submit "Submit" %>
<% end %>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  New user? Make an account.
<% end %>
