<br>
<%= form_tag cards_path do %>

<%= collection_select(:card, :subject, Card.all, :id, :subject, {prompt: 'Select Subject'}) %>
<br>
<label>Front:</label><br>
<%= text_field_tag :front %><br>

<label>Back:</label><br>
<%= text_field_tag :back %><br>

<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<%= submit_tag "Submit Card" %>
<% end %>
